<div class="col">
  <div class=" card border-{{curso.color}}" style="max-width: 18rem;">
    <div class="card-header text-center">
      <button type="button" [routerLink]="['/curso/',curso.idCurso]" class="btn btn-light">Ver</button>
      &nbsp;&nbsp;
      <button type="button" [routerLink]="['/edit-curso/',curso.idCurso]" class="btn btn-light">Editar</button>
      &nbsp;&nbsp;
      <button type="button" [routerLink]="['/delete-curso/',curso.idCurso]" class="btn btn-dark">Eliminar</button>
    </div>
    <div class="card-body text-{{curso.color}}">
      <h4 class="card-title ">{{curso.nombre}}</h4>
      <h6 class="card-text">Profesor:</h6>
      <div class="card-text">{{curso.profesor}}</div>
    </div>
  </div>
</div>
