<br>



<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12">
          <h5>Nuevo crédito</h5>
        </div>

      </div>
    </div>
    <div class="card-body">

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Formulario de credito
              </button>
            </h5>
          </div>

          <div id="collapseOne" #collapseOne class="collapse show" aria-labelledby="headingOne"
            data-parent="#accordion">
            <div class="card-body">

              <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
                <div class="form-row">
                  <div class="form-group col-sm-8">
                    <label for="valor"><strong>Valor del crédito:</strong></label>
                    <input type="number" min="1" class="form-control" name="valor" formControlName="valor"
                      placeholder="1">
                    <p style="color:tomato" *ngIf="myForm.get('valor').hasError('required')">Campo requerido</p>
                  </div>
                </div>
                <hr>
                <div class="form-row">
                  <div class="form-group col-sm-6">
                    <label for="duracion"><strong>Duración:</strong></label>
                    <input type="number" class="form-control" name="duracion" min="1" formControlName="duracion"
                      value="1">
                  </div>
                  <div class="form-group col-sm-2" style="margin-top: 2em;">
                    <input readonly value="Meses" class="form-control" type="text">
                  </div>
                </div>
                <hr>
                <div class="form-row">
                  <div class="form-group col-sm-4">
                    <label><strong>Pagos:</strong></label>
                    <p>Ciclos de amorización:</p>
                  </div>
                  <div class="form-group col-sm-4 abs-center">
                    <select class="custom-select" name="selectCiclos" formControlName="selectCiclos">
                      <option value="0" selected>Quincenal</option>
                      <option value="1">Mensual</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-4">

                    <p>Fecha del primer abono:</p>
                  </div>
                  <div class="form-group col-sm-4 abs-center">
                    <input type="date" class="form-control" name="fechaPrimerAbono" formControlName="fechaPrimerAbono"
                      id="primerAbono" min="{{ hoy | date:'yyyy-MM-dd'}}">
                  </div>
                </div>
                <div class="form-row">
                  <button class="btn btn-success" type="submit">Guardar</button>
                </div>
              </form>



            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Datos de creación del credito
              </button>
            </h5>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

              <form [formGroup]="myForm2" (ngSubmit)="saveData()" novalidate>
                <div class="form-row">
                  <div class="form-group col-sm-6">
                    <label for="valor"><strong>Valor del crédito:</strong></label>
                    <input type="number" min="1" readonly class="form-control" name="valor" formControlName="valor"
                      placeholder="1">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="duracion"><strong>Duración:</strong></label>
                    <input type="text" readonly class="form-control" value="2 Meses" name="duracion" min="1">
                  </div>
                </div>
                <hr>

                <div class="form-row">
                  <div class="form-group col-sm-2">
                    <label><strong>Pagos:</strong></label>
                    <p>Ciclos de amorización:</p>
                  </div>
                  <div class="form-group col-sm-4 abs-center">
                    <input type="text" readonly class="form-control" value="Quincenal" name="duracion" min="1">
                  </div>
                  <div class="form-group col-sm-2 abs-center">

                    <p>Fecha del primer abono:</p>
                  </div>
                  <div class="form-group col-sm-4 abs-center">
                    <input type="date" class="form-control" name="fechaPrimerAbono" formControlName="fechaPrimerAbono"
                      id="primerAbono" readonly min="{{ hoy | date:'yyyy-MM-dd'}}">
                  </div>
                </div>

                <div class="form-row">
                  <button class="btn btn-success" type="submit">Guardar</button>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>