<div class="card">
    <div class="card-header">
        Inicio
    </div>
    <div class="card-body">
        <h5 class="card-title">Materias</h5>
        <p class="card-text">Aquí encontrará sus materias.</p>
        <br>

        <div class="row justify-content-center">
            
            <app-curso *ngFor="let cur of cursos" ></app-curso>
            <app-curso></app-curso>
            <app-curso></app-curso>
            <app-curso></app-curso>
            <app-curso></app-curso>
            <app-curso></app-curso>
        </div>
    </div>
</div>