<div class="col">
    <div class=" card border-primary mb-3 " style="max-width: 18rem;">
        <div class="card-header text-center">
            <button type="button" class="btn btn-light">Editar</button> 
            &nbsp;
            <button type="button" class="btn btn-dark">Eliminar</button></div>
        <div class="card-body text-primary">
            <h4 class="card-title"><a href="">Ingeniería de software</a></h4>
            <h6 class="card-text">Profesor:</h6><div class="card-text">Carlos Gomez</div>
        </div>
    </div>
</div>