<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-8">
          <h4>Clientes</h4>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary">
            Añadir Cliente
          </button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-success">
            Añadir Credito
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="row">

          <div class="col-sm-10 form-group form-inline">
            Buscar: <input class="form-control ml-2" type="text" name="searchTerm"
              [(ngModel)]="clienteService.searchTerm" />
            <span class="ml-3" *ngIf="clienteService.loading$ | async"> Cargando...</span>

          </div>
          <div class="col-sm-2 col-lg-2">
            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="clienteService.pageSize">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </div>
        </div>

        <table class="table table-striped" style="text-align: center;" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th scope="col" sortable="id" (sort)="onSort($event)">ID</th>
              <th scope="col" sortable="cliente" (sort)="onSort($event)">Cliente</th>
              <th scope="col" sortable="cedula" (sort)="onSort($event)">Cedula</th>
              <th scope="col" sortable="cupo" (sort)="onSort($event)">Cupo</th>
              <th scope="col" sortable="celular" (sort)="onSort($event)">Celular</th>
              <th scope="col" sortable="estado" (sort)="onSort($event)">Estado</th>
              <th scope="col" sortable="acciones" (sort)="onSort($event)">Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let cliente of clientes$ | async; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <th>
                <ngb-highlight [result]="cliente.id" [term]="clienteService.searchTerm"></ngb-highlight>
              </th>
              <th>
                <ngb-highlight [result]="cliente.nombre" [term]="clienteService.searchTerm"></ngb-highlight>
              </th>
              <th>
                <ngb-highlight [result]="cliente.cedula" [term]="clienteService.searchTerm"></ngb-highlight>
              </th>
              <th>
                <ngb-highlight [result]="cliente.cupo" [term]="clienteService.searchTerm"></ngb-highlight>
              </th>
              <th>
                <ngb-highlight [result]="cliente.celular" [term]="clienteService.searchTerm"></ngb-highlight>
              </th>
              <th>
                <ngb-highlight [result]="cliente.estado" [term]="clienteService.searchTerm"></ngb-highlight>
              </th>
              <th>
                <a href="" title="Detalles">
                  <svg id="i-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"
                    fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <circle cx="14" cy="14" r="12" />
                    <path d="M23 23 L30 30" />
                  </svg>
                </a>
              </th>
            </tr>

          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="total$ | async" [(page)]="clienteService.page"
            [pageSize]="clienteService.pageSize">
          </ngb-pagination>

        </div>
      </form>
    </div>

  </div>

</div>
